@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$myColors {
    $veryDarkGrayishBlue: hsl(217, 19%, 35%);
    $desaturatedDarkBlue: hsl(214, 17%, 51%);
    $grayishBlue: hsl(212, 23%, 69%);
    $lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    justify-content: center;
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    margin: 2em 0 1.2em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.hero-bg {
    background: cadetblue;
    text-align: center;
    padding-bottom: 2em;
}

img {
    width: 100%;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    align-items: flex-end;
    margin: 2em 0 1.2em;
}

h5 span {
    position: relative;
    z-index: 1;
    font-size: 0.7rem;
    margin: 0 1em 3em;
    padding: 2em;
}

.author img {
    border-radius: 50%;
    align-content: center;
    
}

.wrapper {
    list-style-type: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle_button {
    background: $veryDarkGrayishBlue;
    width: 250px;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.toggle_button ul li a {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.toggle_button ul li a.share-btn .text {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 10px;
    margin-right: 1em;
    color: grey;
    text-decoration: none;
}

.toggle_button ul li a.share-btn .icon {
    width: 35px;
    height: 35px;

}