@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Dosis', sans-serif;
    background-color: var(--light-grayish-blue);
}

.container {
    flex-direction: column;
    place-items: center;
    margin-top: 1.85em;
}

.parent {
    background-color: #ffffff;
    display: grid;
    place-items: center;
    width: 20em;
    height: 17em;
    border-radius: 0 0 10px 10px;
}

.drawer {
    background: url('../images/drawers.jpg');
    background-size: cover;
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 220px;
}

.text-group {
    width: fit-content;
    position: relative;
    margin: 0.7em 2em 0 2em;
}

h2 {
    font-size: 1em;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    word-spacing: 0.1em;
    margin-top: -1em;
}

p {
    margin-top: 1em;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5em;
    color: var(--desaturated-dark-blue);
}

.parents2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parents2 button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--light-grayish-blue);
}

.parents2 button:hover {
    background-color: var(--grayish-blue);
}

.share-links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    padding: 2.2em 1em;
    height: 65px;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    border-radius: 10px;
}

.share-links.active {
    opacity: 1;
    pointer-events: all;
}

.share-links2 {
    display: flex;
    align-items: center;
}

.share-links2 span {
    margin-right: 20px;
    letter-spacing: 4px;
    color: var(--grayish-blue);
    text-transform: uppercase;
}

.share-links2 a {
    margin-right: 15px;
}

.share-links2_last {
    margin: 0;
}

#share-button {
    margin-top: 1.8em;
    margin-right: 1.2em;
    border-radius: 50%;
}

.author {
    display: flex;
    margin-top: 1.8em;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.7em;
}

.author-name {
    font-weight: 700;
    color: var(--desaturated-dark-blue);
}

.author-date {
    font-weight: 500;
    font-size: 0.9em;
    color: var(--grayish-blue);
}

.attribution {
    justify-content: center;
    align-content:center;
    position: absolute;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 12em 5em 0 0;
    }

    .parent {
        width: 25em;
        height: 13.78em;
        margin-left: -1em;
        border-radius: 0 10px 10px 0;
    }

    .drawer {
        background: url('../images/drawers.jpg');
        background-size: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        object-position: left;
        width: 235px;
        margin-right: -7.5em;

    }

    h2 {
        margin-top: 0.5em;
    }

    p {
        margin-top: 1em;
    }

    .author {
        margin-top: 1em;
    }

    .share-links {
        top: 8em;
        right: -2.78em;
        bottom: unset;
        left: unset;
        transform: translateY(-50%);
    }

    .share-links button {
        display: none;
    }

    .share-links:after {
        content: "";
        position: absolute;
        top: calc(50% + 32px);
        right: 25%;
        height: 20px;
        width: 20px;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--very-dark-grayish-blue);
    }

}
