@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Dosis', sans-serif;
    background-color: var(--light-grayish-blue);
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 1.5em;
}

.parent {
    background-color: #ffffff;
    display: grid;
    place-items: center;
    width: 20em;
    height: 20em;
    border-radius: 0 0 10px 10px;
}

.drawer {
    width: 320px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.text-group {
    width: 17em;
}

h2 {
    font-size: 1.2rem;
    font-style: bold;
    font-weight: 700;
    
}

p {
    font-weight: 300;
    
}

.author {
    display: inline-flex;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 60%;
    margin-left: 0.1em;
}

h5 {
    margin-top: 1em;
    font-style: bold;
}

.author p {
    font-size: 0.65rem;
    margin-top: 3em;
}

.share-btn {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.7em;
}

.share-btn:hover {
    background-color: var(--desaturated-dark-blue);
}

.hide {
    position: absolute;
    display: flex;
    background-color: var(--very-dark-grayish-blue);
    justify-content: center;
    align-items: center;
    padding: 1.27em 1.5em;
    height: 0.5em;
    opacity: 1;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 13px;
}

hide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 0;
    margin-bottom: -15px;
    margin-left: -15px;
}

ul {
    list-style-type: none;
    display: flex;
}

.attribution {
    display: flex;
    place-items: center;
}
